body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.inner-page {
  color: #000000;
  background-color: #ffffff;
}

.main-nav a {
  font-size: 16px;
  line-height: 11px;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
}

.site-navigation {
  list-style: none;
}

.basket {
  font-size: 16px;
  line-height: 11px;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
}

.main-nav a:hover,
.basket a:hover {
  color: #fb565a;
}

.main-nav a:active,
.basket a:active {
  color: #a6a6a6;
}

.main-nav a:active,
.basket a:active {
  border-bottom: red;
}

.popular-list {
  list-style: none;
}

.popular-item {
  text-align: center;
}

.popular-item h2 {
  font-size: 24px;
  line-height: 11px;
  font-weight: bold;
  color: #000000;
}

.popular-item p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-transform: none;
  font-weight: normal;
}

.popular-item a {
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
}

.feedback {
  display: none;
}

.social-list {
  list-style: none;
}

.footer-info span {
  font-size: 36px;
  line-height: 13px;
  color: #000000;
}

.footer-info p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-transform: none;
  font-weight: normal;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: bold;
}

.filter fieldset {
  border: none;
}

.filter-item {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  font-weight: normal;
  color: #283136;
  list-style: none;
}
