html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  justify-content: space-between;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.inner-container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.main-nav-inner {
  display: flex;
  justify-content: space-between;
}

.main-header {
  position: relative;
  background-color: #eeeeee;
}

.logo-inner {
  padding-top: 50px;
}

.main-header-logo:hover img {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.4;
}

.user-navigation-inner {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 800px;
  padding-top: 75px;
  padding-bottom: 30px;
}

.main-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.main-nav a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 440px;
  display: flex;
  text-transform: uppercase;
}

.site-navigation-item a {
  color: #000000;
  font-weight: 700;
}

.site-navigation .site-navigation-item:nth-child(1) {
  padding-left: 2px;
  padding-right: 45px;
}

.site-navigation .site-navigation-item:nth-child(2) {
  padding-right: 48px;
}

.site-navigation .site-navigation-item:nth-child(3) {
  padding-right: 46px;
}

.site-navigation-catalog {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-top: 81px;
  display: flex;
}

.site-navigation-catalog .site-navigation-catalog-item:first-child {
  margin-right: 47px;
}

.site-navigation-catalog .site-navigation-catalog-item:nth-child(2) {
  margin-right: 48px;
}

.site-navigation-catalog .site-navigation-catalog-item:nth-child(3) {
  margin-right: 46px;
}

.basket {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.basket-catalog {
  margin-top: 81px;
  text-transform: uppercase;
}

.basket a {
  color: #000000;
  font-weight: 700;
}

.main-nav a:hover,
.basket a:hover {
  color: #fb565a;
}

.main-nav a:active,
.basket a:active {
  color: #a6a6a6;
}

.main-nav a:active,
.basket a:active {
  border-bottom: red;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls  i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.main-container-inner {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 1100px;
  justify-content: space-between;
}

.popular-item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.popular-item img {
  width: 300px;
  height: 146px;
}

.popular-item p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  width: 260px;
}

.popular-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.popular-btn {
  width: 160px;
  min-height: 50px;
  border-radius: 5px;
}

.btn-color-1 {
  background-color: #fb565a;
}

.btn-color-2 {
  background-color: #00ca74;
}

.btn-color-3 {
  background-color: #efc849;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 960px;
}

.social-list {
  list-style: none;
  display: flex;
}

.footer-info {}

.footer-info span {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-info p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  font-weight: 500;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
}

/*---стили страницы каталога---*/
.inner-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-nav-catalog {
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  margin-top: 50px;
}

.filter fieldset {
  border: none;
}

.filter-list {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
  list-style: none;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.product-info h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.product-info p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.product-info a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: red;
}

.feedback {
  display: none;
}
