body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

.inner-page {
  color: #000000;
}

.main-header {
  background-color: #eeeeee;
}

.main-header-logo:hover img {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.4;
}

.main-nav a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
}

.site-navigation {
  list-style: none;
}

.basket {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
}

.main-nav a:hover,
.basket a:hover {
  color: #fb565a;
}

.main-nav a:active,
.basket a:active {
  color: #a6a6a6;
}

.main-nav a:active,
.basket a:active {
  border-bottom: red;
}

.popular-list {
  list-style: none;
}

.popular-item {
  text-align: center;
}

.popular-item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.popular-item img {
  width: 300px;
  height: 146px;
}

.popular-item p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}

.popular-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #000000;
}

.feedback {
  display: none;
}

.social-list {
  list-style: none;
}

.footer-info span {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-info p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  font-weight: 500;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  margin: 0;
}

.filter fieldset {
  border: none;
}

.filter-list {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
  list-style: none;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.visually-hidden {
  display: none;
}

.product-info h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.product-info p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.product-info a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: red;
}
